<div class="landing-header">
  <div class="landing-header-center">
    <img
      class="landing-header-icon"
      src="../../../../../assets/landing-header-icon.gif"
    />
    <span class="landing-header-center-menus">
      <span class="landing-header-title" routerLink="news">Hacker News</span>
      <span class="landing-header-menus">
        <a class="header-menus">new</a>
        <a class="header-menus">past</a>
        <a class="header-menus">comments</a>
        <a class="header-menus">ask</a>
        <a class="header-menus">show</a>
        <a class="header-menus">jobs</a>
        <a class="header-menus">submit</a>
      </span>
    </span>
  </div>
  <div class="landing-header-right-menus">
    <a class="header-menus">login</a>
  </div>
</div>
