.landing-header {
  background-color: rgb(255, 102, 0);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #222222;
  line-height: 12pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .landing-header-center {
    display: inline-flex;

    .landing-header-icon {
      border: 1px solid rgb(255, 255, 255);
      margin: 2px;
    }
    .landing-header-center-menus {
      color: #000000;
      .landing-header-title {
        font-weight: bolder;
        cursor: pointer;
        align-self: center;
        min-width: fit-content;
        padding-left: 2px;
      }

      .landing-header-menus {
        width: 88%;

        .header-menus {
          font-weight: 500;
          margin-left: 5px;

          line-height: 25px;
          cursor: pointer;

          &:not(:last-child):after {
            color: #000;
            content: "  |";
            cursor: text;
          }
          &:nth-child(7):after {
            color: #000;
            content: "  ";
            cursor: text;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
  .landing-header-right-menus {
    .header-menus {
      color: #000;
      display: flex;
      flex-direction: row-reverse;
      margin-right: 7px;
    }
    .icon {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .landing-header {
    color: black;
    .landing-header-center {
      .landing-header-icon {
        height: 15%;
        margin: auto;
      }
      .landing-header-center-menus {
        display: flex;
        flex-direction: column;

        .landing-header-title {
          align-self: flex-start;
          margin-left: 8px;
          font-size: 15px;
          font-weight: 900;
          margin-top: 5px;
        }
        .landing-header-menus {
          width: auto;
          margin-top: -5px;
          font-size: 9pt;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-header {
    padding: 10px;
    overflow-x: hidden;

    .landing-header-center {
      .landing-header-icon {
        margin-left: 5px;
      }
      .landing-header-title {
        margin: 5px;
      }
      .landing-header-icon.responsive {
        display: none;
      }
      .landing-header-menus .header-menus {
        display: none;
      }
      .landing-header-menus.responsive {
        position: relative;
        .header-menus {
          display: block;
          text-align: left;
          margin: 5px;
          padding-left: 5px;
          &:last-child {
            display: block !important;
          }
          &::after {
            content: "" !important;
          }
        }
        .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
    .landing-header-right-menus {
      position: absolute;
      top: 10px;
      right: 15px;
      .header-menus {
        display: none;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
