<div class="landing-header">
  <div class="landing-header-center">
    <img
      class="landing-header-icon"
      [ngClass]="{ responsive: isResponsive }"
      src="../../../../../assets/landing-header-icon.gif"
    />
    <span class="landing-header-center-menus">
      <span class="landing-header-top-menus">
        <span class="landing-header-title" routerLink="news">Hacker News </span>
      </span>
      <span
        class="landing-header-menus"
        [ngClass]="{ responsive: isResponsive }"
      >
        <a class="header-menus">new</a>
        <a class="header-menus">past</a>
        <a class="header-menus">comments</a>
        <a class="header-menus">ask</a>
        <a class="header-menus">show</a>
        <a class="header-menus">jobs</a>
        <a class="header-menus">submit</a>
        <a class="header-menus">login</a>
      </span>
    </span>
  </div>
  <div
    class="landing-header-right-menus"
    [ngClass]="{ responsive: isResponsive }"
  >
    <a class="header-menus">login</a>
    <a href="javascript:void(0);" class="icon" (click)="showMenus()">
      <img class="" src="../../../../../assets/landing-header-icon.gif" />
    </a>
  </div>
</div>
