<div class="landing-footer-container">
  <div class="footer-divider"></div>
  <div class="footer-details">
    <div class="footer-title">Apply early for the YC Winter 2022 batch</div>
    <div class="footer-links">
      <a href="https://news.ycombinator.com/newsguidelines.html">Guidelines</a>
      <a href="https://news.ycombinator.com/newsfaq.html">FAQ</a>
      <a href="https://news.ycombinator.com/lists">Lists</a>
      <a href="https://github.com/HackerNews/API">API</a>
      <a href="https://news.ycombinator.com/security.html">Security</a>
      <a href="https://www.ycombinator.com/legal/">Legal</a>
      <a href="https://www.ycombinator.com/apply/">Apply to YC</a>
      <a href="mailto:hn@ycombinator.com">Contact</a>
    </div>
    <div class="footer-input">
      <label class="search-label">Search: </label>
      <input />
    </div>
  </div>
</div>
